channels
channels_redis
django
django-bootstrap4
django-crispy-forms
django-channels-presence
dj-database-url
dj-static
djangorestframework
python-decouple
psycopg2-binary
pylint
gunicorn
whitenoise
Unipath
python-dateutil
dnspython
sqlparse==0.2.4
pylint-django