{% extends 'base.html' %}

{% block content %}
  <h2>Homepage</h2>
  <h3>Due to the outbreak of covid-19 Tutor Finder has suspended the ability to make tutoring sessions in an effort to ensure social distancing.</h3>
  <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html">more information on covid-19</a>
  <p>Welcome to Tutor Finder,
  {% if user.is_authenticated %}
  {{ user.username }}!
  <p>
  Click on the Tutor Search tab to begin looking for tutors.
  </p>
  {% else %}
  visitor!
  <p>
  Create an account or login to get started.
  </p>
  {% endif %}</p>
  <p>
    <strong>Total users registered: </strong> {{ count }}
  </p>
{% endblock %}
